<label for="file">File:</label>
<input type="file" (change)="enviar($event)" accept=".png,.jpg" />

<!-- <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-body">
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-body">
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-body">
      </div>
    </div>
  </div> -->