<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="nomes">
      <th mat-header-cell *matHeaderCellDef>Nomes</th>
      <td mat-cell *matCellDef="let row">
        <p *ngFor="let nome of row.payload.val().nomes" >{{nome}}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="dia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Dia</th>
      <td mat-cell *matCellDef="let row">{{row.payload.val().dia | date: 'EEEE, dd/MM/yyyy '}}</td>
    </ng-container>

    <ng-container matColumnDef="departamento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>departamento</th>
      <td mat-cell *matCellDef="let row">{{row.payload.val().departamento?.nome}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[10, 20, 50]">
  </mat-paginator>
</div>
