<form (ngSubmit)="onSubmit()" class="container jumbotron ">
 
    <header class="display-4 text-center" > Cadastro de Membros </header>
    <div class="form-group">
      <label>Nome</label>
      <input type="text" class="form-control" [(ngModel)]="membro.nome" name="nome" required />
    </div>
   
    <div class="form-group">
      <label>Celular</label>
      <input type="tel" class="form-control" [(ngModel)]="membro.celular" name="celular" required/>
    </div>
   
    <div class="form-group">
      <label>Endereço</label>
      <input type="text" class="form-control" [(ngModel)]="membro.endereco" name="endereco" required/>
    </div>
   
    <div class="form-group">
      <label>E-mail</label>
      <input type="text" class="form-control" [(ngModel)]="membro.email" name="email" required/>
    </div>
   
    <div class="form-group">
      <label>Sexo</label>
      <input type="text" class="form-control" [(ngModel)]="membro.sexo" name="sexo" required/>
    </div>
   
    <div class="form-group">
      <label>Data Membresia</label>
      <input type="date" class="form-control" [(ngModel)]="membro.dataMembresia" name="dataMembresia" />
    </div>
   
    <div class="form-group">
      <label>Data de Nascimento</label>
      <input type="date" class="form-control" [(ngModel)]="membro.dataNascimento" name="dataNascimento" required />
    </div>
    
    <!-- <div class="form-group">
      <label>Teste celula</label>
      <input type="text" class="form-control"name="celula" />
    </div> -->
    
    <div class="form-group">
      <label>Célula</label>

      <div class="input-group">
        <select class="custom-select" [(ngModel)]="membro.celula"   name="celula" required>
          <option value="0" selected>Nenhuma</option>
          <option *ngFor="let celula of celulas$ |async" value="{{celula.payload.val().numero}}" [selected]="celula.payload.val().numero==membro.celula" >
            {{celula.payload.val().nome}} Lider: {{celula.payload.val().lider }}
          </option>
            

        </select>
      </div>

      

    </div>

      <footer class="text-center">      
        <button type="submit" class="btn btn-primary btn-lg">Salvar</button>
        <button type="button" (click)="list()" class="btn btn-danger btn-lg">Cancelar</button>
      </footer>  
  </form>