<div class="container">
  <h1 class="display-4 text-centercc">Escalas</h1>
  
      <div class="input-group my-4 mx-4">

        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Departamento</label>
        </div>

        <select class="custom-select"  [(ngModel)]="filtro" id="inputGroupSelect01" name="filtro">
          <option *ngFor="let departamento of departamentos$ |async" 
          value="{{departamento.payload.val().nome}}">
            {{departamento.payload.val().nome}}
          </option>
        </select>
      </div>


          <a *ngIf="usuarioLogado()" class="btn btn-warning mx-4 my-4" (click)="new()" routerLink="/escalas/new" routerLinkActive="active" >Cadastrar Escala</a>
          <app-escalas-tb> </app-escalas-tb>
    </div>

      
  <!-- <div class="mx-3 my-3" *ngIf="escalas$ | async; let escalas$ ; else loading" >
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col" colspan="3"> 
            <h3 class="text-center">Lista de Escalas</h3>
          </th>
        </tr>
        <tr>
          <th scope="col">Nomes</th>
          <th scope="col">Dia</th>
        </tr>
      </thead>
      <tbody>    
        <tr *ngFor="let escala of escalas$ | filtro:filtro" (click)="edit(escala.payload.val(), escala.payload.key)" 
             style="cursor: pointer;" [routerLink]="['/escalas', escala.id]" routerLinkActive="active" >
             <td><p *ngFor="let nome of escala.payload.val().nomes" >{{nome}}</p></td> 
          <td>{{escala.payload.val().dia | date: 'EEEE, dd/MM/yyyy '}}</td>
        </tr>
        <tr *ngIf="escalas$.length == 0">
          <td>Nenhuma escala encontrada.</td>
  
        </tr>
      </tbody>
      
    </table> -->
  <!-- </div> -->
  
  <ng-template #loading>  
      <app-spinner> </app-spinner>
  </ng-template>

  
  
    
