<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Escalas</h1>
      
          <div class="input-group my-4 mx-4">

            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Departamento</label>
            </div>

            <select class="custom-select"  [(ngModel)]="escala.departamento" id="inputGroupSelect01">
              <option *ngFor="let departamento of departamentos$ |async" 
              value="{{departamento.payload.val()}}">
               {{departamento.payload.val().nome}}
              </option>
            </select>
          </div>


          <a class="btn btn-warning mx-4 my-4" (click)="new()" routerLink="/escalas/new" routerLinkActive="active" >Cadastrar Escala</a>
    </div>
  </div>

