<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img class="d-block w-100 img-fluid" height="auto" 
        src="#" alt="First slide"
        max-height="720px">
    </div>
    <div class="carousel-item" *ngFor="let imagem of imagens | async">
      <img class="d-block w-100 img-fluid" src="{{imagem.url}}" height="auto" alt="Second slide"
      max-height="720px">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior8</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>