<full-calendar 
  locale = 'pt'
  id = "calendario" 
  #calendar 
  defaultView="dayGridMonth" 
  (dateClick)="handleDateClick($event)"  
  [plugins]="calendarPlugins"
  [events]="calendarEvents"
  [header]="{
    left: 'prev,next',
    center: 'title',
    right: 'timeGridWeek,timeGridDay,listWeek'
  }"
  ></full-calendar>
<script src='fullcalendar/fullcalendar.js'></script>
<script src='fullcalendar/locale-all.js'></script>
<script>
  $(function() {
    $('#calendario').fullCalendar({
      locale: 'pt'
    });
  });
</script>