<section class="banner-area relative"  id="home">
    <div class="container">
        <div class="overlay overlay-bg"></div>
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-8 col-md-12">
                <h1 class="text-uppercase">
                    <br>
                    CCPA Floripa <br>	
                </h1>
                <p class="text-white sub-head">
                    <br>
                    <br>
                    Igreja que esta de portas abertas para você.
                    <br>
                    <br>
                </p>
                <a href="https://goo.gl/maps/ETnwGAhxgoRrrSye9" class="primary-btn header-btn text-uppercase" target="_blank">A onde estamos.</a>
                <br>
                <br>
                <br>
                <br>
            </div>											
        </div>

    </div>
</section>

<app-carrossel><app-carrossel>