
<p>
  <!-- <button (click)="login()"  *ngIf="!authService.isLoggedIn">Login</button>
  <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button> -->
  <!-- <firebase-ui></firebase-ui> -->
  
</p>

  <!-- Calling GoogleAuth Api from AuthService -->
  

  <div class="jumbotron jumbotron-fluid">
    <div class="container" style="text-align: center;">
      <h1 class="display-4">Login</h1>
      <div class="formGroup">
        <button type="button" class="btn btn-outline-primary" (click)="authService.GoogleAuth()">
          Entrar com o Google
        </button>
        <p>{{message}}</p>
        <img src={{getUserImg()}} alt="..." class="rounded-circle" style="width: 120px;">
      </div>
    </div>
  </div>

  <!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->