<div class="row mx-5 ">
    <div class="col-12" >
      <div class="card text-white bg-dark my-3"  >
        <div class="card-header">
          <h5 class="card-title">
            {{membro.nome}}  - Celular: {{membro.celular}}
          </h5>
        </div>
        <div class="card-body">
            <div class="card-text">
                <p> 
                    <span class="font-weight-bold">Email:</span>             
                    {{membro.email}}                               
                </p>
                <p>
                    <span class="font-weight-bold">Endereço:</span>
                    {{membro.endereco}}                            
                </p>
                <p>
                    <span class="font-weight-bold">Data Nascimento:   </span>
                    {{membro.dataNascimento | date: 'dd/MM/yyyy'}} 

                </p>
                <p>
                    <span class="font-weight-bold">Data de Membresia: </span>
                    {{membro.dataMembresia | date: 'dd/MM/yyyy'}}  
                </p>
                <p>
                    <span class="font-weight-bold">Sexo:              </span>
                    {{membro.sexo}}                                
                </p>
            </div>
            
            <p class="text-center">
              <a class="btn btn-primary bt-md mx-2" 
              routerLink="/membros" routerLinkActive="active" >Voltar</a> 
              <a class="btn btn-warning bt-md mx-2" (click)="edit(membro, key)"  
              [routerLink]="['/membro', membro.id]" routerLinkActive="active" >Editar</a> 
              <a class="btn btn-danger bt-md mx-2" (click)="delete(key)" 
              routerLink="/membros" routerLinkActive="active">Excluir</a>
            </p>
        </div>
      </div>
    </div>
  </div>
