<form (ngSubmit)="onSubmit()" class="container jumbotron ">
 
    <header class="display-4 text-center" > Cadastro de Celulas </header>
    <div class="form-group">
      <label>Nome</label>
      <input type="text" class="form-control" [(ngModel)]="celula.nome" name="nome" />
    </div>
   
    <div class="form-group">
      <label>Numero</label>
      <input type="number" class="form-control" [(ngModel)]="celula.numero" name="numero" />
    </div>
   
    <div class="form-group">
      <label>Lider</label>
      <input type="text" class="form-control" [(ngModel)]="celula.lider" name="lider" />
    </div>
   
    <div class="form-group">
      <label>Dia da Semana</label>
      <input type="text" class="form-control" [(ngModel)]="celula.diaSemana" name="diaSemana" />
    </div>
   
    <div class="form-group">
      <label>Horario</label>
      <input type="text" class="form-control" [(ngModel)]="celula.horario" name="horario" />
    </div>
   
    <div class="form-group">
      <label>Endereço</label>
      <input type="text" class="form-control" [(ngModel)]="celula.endereco" name="endereco" />
    </div>
   
    <div class="form-group">
      <label>Anfitrião</label>
      <input type="text" class="form-control" [(ngModel)]="celula.anfitriao" name="anfitriao" />
    </div>
   
    <div class="form-group">
        <label>Data Inicio</label>
        <input type="date" class="form-control" [(ngModel)]="celula.dataInicio" name="dataInicio" />
      </div>
    
      <footer class="text-center">      
        <button type="submit" class="btn btn-primary btn-lg">Salvar</button>
        <button type="button" (click)="list()" class="btn btn-danger btn-lg">Cancelar</button>
      </footer>  
  </form>