<div class="container-fluid  " >
  <div class="row ml-auto">
    <div class="col-12 mt-3" >
      <a class="btn btn-warning btn-lg text-center" (click)="new()" style="width: 20rem;"
          routerLink="/celula/new" routerLinkActive="active" >
        Cadastrar Nova Célula
      </a>  
    </div>
  </div>
  <div class="row ml-auto">
    <div class="col-xs-12 col-sm-12 col-md-3" *ngFor="let celula of celulas | async">
      <div class="card text-white bg-dark my-3" style="width: 20rem;" >
        <div class="card-header">
          <h5 class="card-title">
            <span>{{celula.nome}} - </span>       
            <span>{{celula.lider}}</span>
          </h5>
        </div>
        <div class="card-body">
            <div class="card-text">
              <ul>
                  <li>Numero         {{celula.numero}}                            </li>
                  <li>Dia Semana:     {{celula.diaSemana}}                        </li>
                  <li>Horario:        {{celula.horario}}                          </li>
                  <li>Endereço:       {{celula.endereco}}                         </li>
                  <li>Anfitrião:      {{celula.anfitriao}}                        </li>
                  <li>Data de Inicio: {{celula.dataInicio | date: 'dd/MM/yyyy'}}  </li>
              </ul>
          </div>
          <a class="btn btn-warning bt-md" (click)="edit(celula, celula.key)"  
          [routerLink]="['/celula', celula.nome]" routerLinkActive="active" >Editar</a> 
          <a class="btn btn-danger bt-md" (click)="delete(celula.key)">Excluir</a>
        </div>
      </div>
    </div>
  </div>
  
</div>