<div class="mx-3 my-3" *ngIf="membros$ | async; let membros$; else loading" >
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col" colspan="2"> <input type="text"  [(ngModel)]="filtro" 
          name="filtro" placeholder="digite o nome para filtrar" /> 
        </th>
      </tr>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Celular</th>
      </tr>
    </thead>
    <tbody>    
      <tr *ngFor="let membro of membros$ | filtro:filtro " (click)="edit(membro.payload.val(), membro.payload.key)" 
        routerLink="/membro/detail" routerLinkActive="active" 
        style="cursor: pointer;">
        <td>{{membro.payload.val().nome}}</td>
        <td>{{membro.payload.val().celular}}</td>
      </tr>
      <tr *ngIf="membros$.length == 0">
        <td>Nenhum membro encontrado para o filtro digitado.</td>

      </tr>
    </tbody>
    <tfoot >
      <th colspan="2" ><a class="btn btn-warning" (click)="new()" routerLink="/membro/new" routerLinkActive="active" >Cadastrar Novo Membro</a></th>
    </tfoot>
    
  </table>
</div>

<ng-template #loading>  
    <app-spinner> </app-spinner>
</ng-template>

