<div class="mx-3 my-3" >
    <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Celular</th>
          </tr>
        </thead>
        <tbody>    
          <tr *ngFor="let membro of membros | async " (click)="edit(membro, membro.key)" 
            routerLink="/membro/detail" routerLinkActive="active" 
            class=""
            style="cursor: pointer;">
            <td>{{membro.nome}}</td>
            <td>{{membro.celular}}</td>
          </tr>
        </tbody>
        <tfoot >
          <th colspan="2" ><a class="btn btn-warning" (click)="new()" routerLink="/membro/new" routerLinkActive="active" >Cadastrar Novo Membro</a></th>
        </tfoot>
    
      </table>
    </div>