<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <!-- Conteúdo do navbar -->
  <a href="#Home" class="navbar-brand" routerLink="/home" routerLinkActive="active" >CCPA Floripa</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
  </button>
      
  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">        
      <ul class="navbar-nav mx-auto">
      <li class="nav-item" *ngIf="usuarioLogado()">
          <a href="#ProdutosBazar" class="nav-link" routerLink="/produtos" routerLinkActive="active"  >
              Controle de Produtos Bazar
          </a>
      </li>
      <li class="nav-item" *ngIf="usuarioLogado()">
          <a href="#Membros" class="nav-link" routerLink="/membros" routerLinkActive="active">
              Membros
          </a>
      </li>
      <li class="nav-item" *ngIf="usuarioLogado()">
        <!-- data-toggle="modal" data-target="#ModalCelulas" -->
          <a href="#Celulas" class="nav-link" routerLink="/celulas" routerLinkActive="active"          >
              Células
          </a>
      </li>
      <li class="nav-item dropdown" *ngIf="usuarioLogado()">
          <a href="#Lancamentos" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Lançamentos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"  routerLink="/lancamento/Oferta" routerLinkActive="active" >Oferta</a>
            <a class="dropdown-item" routerLink="/lancamento/Dizimo" routerLinkActive="active">Dízimo</a>
            <a class="dropdown-item" routerLink="/lancamento/Primicia" routerLinkActive="active">Primícia</a>
            <a class="dropdown-item" routerLink="/lancamento/Celula" routerLinkActive="active">Célula</a>
            <a class="dropdown-item" routerLink="/lancamento/Oferta Especifica" routerLinkActive="active">Oferta Específica</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Despesa</a>
          </div>
      </li>
      <li class="nav-item" *ngIf="usuarioLogado()">
          <a href="#Departamentos" class="nav-link" data-toggle="modal" data-target="#ModalDepartamentos">
                  Departamentos
          </a>
      </li>
      <li class="nav-item " *ngIf="usuarioLogado()">
          <a href="#Escalas" class="nav-link" href="#" id="" 
          >
              Escalas
          </a>
      </li>
      <li class="nav-item" *ngIf="usuarioLogado()">
          <a href="#Galeria" class="nav-link" routerLink="/galeria" routerLinkActive="active" >
              Galeria Adm
          </a>
      </li>
      <li class="nav-item" *ngIf="!usuarioLogado()">
          <a href="#Login" class="nav-link" routerLink="/login" routerLinkActive="active" >
              Login
          </a>
      </li>

  </ul>
    <span class="navbar-text " *ngIf="usuarioLogado()" >
      {{usuarioLogado()}} <img src={{getUserImg()}} alt="..." class="rounded-circle" style="width: 32px;">    
    </span>
  </div>


</nav>



<div >
  <!-- [@routeAnimation]="getAnimationData(routerOutlet)" -->
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>

<!-- <div class="container-fluid jumbotron">
  <firebase-ui></firebase-ui>

</div> -->



      
      <!-- Modal -->
      <div class="modal fade" id="ModalLongoExemplo" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="TituloModalLongoExemplo">Controle de Produtos do Bazar</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <app-edit-produto></app-edit-produto>
    
                <app-list-produto></app-list-produto>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="ModalCelulas" tabindex="-1" role="dialog" aria-labelledby="TituloModalCelulas" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="TituloModalCelulas">Controle de Celulas</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <app-edit-celula></app-edit-celula>
                <app-list-celula></app-list-celula>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>

      
      <div class="modal fade" id="ModalCalendario" tabindex="-1" role="dialog" aria-labelledby="Calendario" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="Calendario">Calendario</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <!--  <app-calendario></app-calendario> --> 
               
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>

            
