<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <!-- Conteúdo do navbar -->
  <a href="#Home" class="navbar-brand" routerLink="/home" routerLinkActive="active" >CCPA Floripa</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
  </button>
      
  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">        
      <ul class="navbar-nav mx-auto">
      <li class="nav-item" *ngIf="usuarioLogado()" data-toggle="collapse" data-target="#conteudoNavbarSuportado.show">
          <a href="#ProdutosBazar" class="nav-link" routerLink="/produtos" routerLinkActive="active" 
          >
              Controle de Produtos Bazar
          </a>
      </li>
      <li class="nav-item" *ngIf="usuarioLogado()" data-toggle="collapse" data-target="#conteudoNavbarSuportado.show">
          <a href="#Membros" class="nav-link" routerLink="/membros" routerLinkActive="active">
              Membros
          </a>
      </li>
      <li class="nav-item" *ngIf="usuarioLogado()" data-toggle="collapse" data-target="#conteudoNavbarSuportado.show">
        <!-- data-toggle="modal" data-target="#ModalCelulas" -->
          <a href="#Celulas" class="nav-link" routerLink="/celulas" routerLinkActive="active"          >
              Células
          </a>
      </li>
      <li class="nav-item dropdown" *ngIf="usuarioLogado()" data-toggle="collapse" data-target="#conteudoNavbarSuportado.show">
          <a href="#Lancamentos" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Lançamentos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"  routerLink="/lancamento/Oferta" routerLinkActive="active" >Oferta</a>
            <a class="dropdown-item" routerLink="/lancamento/Dizimo" routerLinkActive="active">Dízimo</a>
            <a class="dropdown-item" routerLink="/lancamento/Primicia" routerLinkActive="active">Primícia</a>
            <a class="dropdown-item" routerLink="/lancamento/Celula" routerLinkActive="active">Célula</a>
            <a class="dropdown-item" routerLink="/lancamento/Oferta Especifica" routerLinkActive="active">Oferta Específica</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Despesa</a>
          </div>
      </li>
      <li class="nav-item" *ngIf="usuarioLogado()" data-toggle="collapse" data-target="#conteudoNavbarSuportado.show">
          <a href="#Departamentos" class="nav-link" data-toggle="modal" data-target="#ModalDepartamentos">
                  Departamentos
          </a>
      </li>
      <li class="nav-item " *ngIf="usuarioLogado()" data-toggle="collapse" data-target="#conteudoNavbarSuportado.show">
          <a href="#Escalas" class="nav-link" href="#" id="" 
          >
              Escalas
          </a>
      </li>
      <li class="nav-item" *ngIf="usuarioLogado()" data-toggle="collapse" data-target="#conteudoNavbarSuportado.show">
          <a href="#Galeria" class="nav-link" routerLink="/galeria" routerLinkActive="active" >
              Galeria Adm
          </a>
      </li>
      <li class="nav-item" *ngIf="!usuarioLogado()">
          <a href="#Login" class="nav-link" routerLink="/login" routerLinkActive="active" >
            <mat-icon aria-hidden="false" aria-label="Exlogin icon">login</mat-icon>
            Entrar
          </a>
      </li>

  </ul>
  
    <span class="navbar-text" *ngIf="usuarioLogado()" >
        <a href="#Login" class="nav-link" routerLink="/login" routerLinkActive="active">
            <span style="opacity: 45%;">
                {{usuarioLogado()}} 
            </span>
            <img src={{getUserImg()}} alt="..." class="rounded-circle" style="width: 32px; opacity: 100%;">    
        </a>
    </span>
  </div>


</nav>

<div >
  <!-- [@routeAnimation]="getAnimationData(routerOutlet)" -->
  
        <router-outlet #routerOutlet="outlet"></router-outlet>
</div>